{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="container">
    <main>
        <section class="hero-section mt-5">
            {% if current_user.is_authenticated %}
                <h2 class="mt-1"> Welcome back, {{ current_user.email }}!</h2>
            {% else %}
                <h1>Welcome to BestMovies Social</h1>
            {% endif %}
            <p>Discover, share, and review your favorite movies with a community of enthusiasts!</p>


        </section>
        <section class="featured-movies">
            <h2>Featured Movies</h2>
            <div class="row movie-grid">
                <div class="col-lg-4 movie-card">
                    <img class='featured-image' src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" alt="The Godfather">
                    <h3>The Godfather</h3>
                    <p>Don Vito Corleone, head of a mafia family, decides to hand over his empire to his youngest son Michael. However, his decision unintentionally puts the lives of his loved ones in grave danger.</p>
                </div>
                <div class="col-lg-4 movie-card">
                    <img class='featured-image' src="https://m.media-amazon.com/images/M/MV5BMTg3MDc4ODgyOF5BMl5BanBnXkFtZTgwNzY1ODIyNjM@._V1_.jpg" alt="Schindler's List">
                    <h3>Schindler's List</h3>
                    <p>In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.</p>
                </div>
                <div class="col-lg-4 movie-card">
                    <img class='featured-image' src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_.jpg" alt="Movie Title">
                    <h3>The Matrix</h3>
                    <p>When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence.</p>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}