{% extends "base.html" %}

{% block title %}
Login
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">

            <form method="post" class="mt-4">
                <h1 class="mt-5">Login</h1>
                <p class="lead mb-5">Login to your account to start exploring!</p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                {{ form.hidden_tag() }}
                <div class="form-group mt-2">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", size=32) }}
                    {% for error in form.email.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group mt-2">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", size=32) }}
                    {% for error in form.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group mt-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
                <div class="mt-4">
                <a class="modern-link" href="{{ url_for('master.register') }}">Don't have an account? Register here.</a>
            </div>
            </form>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div id="emoji-container" class="emoji-container">
                <div id="animated-text" class="animated-div mt-5 mb-5">
                    <p id="text"></p>
                </div></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/login.js"></script>
{% endblock %}