{% extends "base.html" %}

{% block title %}
Movies Database
{% endblock %}


{% block content %}

<div class="container mt-4">
    <h1>Explore Movies</h1>
    <ul class="list-unstyled">
        {% for movie in movies %}
        <li class="mb-3">
            <strong>{{ movie.title }}</strong><br>
            Directors: 
            {% for director in movie.directors %}
                <span>{{ director.name }}</span>{% if not loop.last %}, {% endif %}
            {% endfor %}<br>
            Stars: 
            {% for star in movie.stars %}
                <span>{{ star.name }}</span>{% if not loop.last %}, {% endif %}
            {% endfor %}<br>
            {% if movie.rating %}
                Rating: 
                <span>
                    {{ movie.rating[0].rating|round(1, 'floor') }} ({{ movie.rating[0].votes }} votes)
                </span>
            {% else %}
                Rating not available.
            {% endif %}
            <a href="{{ url_for('master.movie_detail', movie_id=movie.id) }}" class="btn btn-primary btn-sm mt-2">See details</a>
        </li>
        {% else %}
        <li>No movies found.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}