{% extends "base.html" %}

{% block title %}
Movie Detail
{% endblock %}


{% block content %}
    
    <div class="container">
        <h1 class="mt-4">{{ movie.title }}</h1>
        <p><strong>Directors:</strong> {% for director in movie.directors %}{{ director.name }}{% if not loop.last %}, {% endif %}{% endfor %}<br></p>
        <p><strong>Stars:</strong> {% for star in movie.stars %}{{ star.name }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
        <p><strong>Rating:</strong> {% if movie.rating %}
                Rating: {{ movie.rating[0].rating|round(1, 'floor') }} ({{ movie.rating[0].votes }} votes)
            {% else %}
                Rating not available.
            {% endif %}</p>
        <a href="{{ url_for('master.rate_movie', movie_id=movie.id) }}" class="modern-link">Rate This Movie</a>
        {% if not current_user.is_favorite(movie) %}
            <a id="add-to-favorites" class="modern-link" data-movie-id="{{ movie.id }}">Add to Favorites</a>
        {% endif %}
    </div>
    <script>
        $('#add-to-favorites').click(function() {
            $.post("{{ url_for('master.add_to_favorites', movie_id=movie.id) }}");
            $(this).attr('disabled', true);
            $(this).fadeOut(1000, function() {
                $(this).remove();
            });
        });
        </script>

{% endblock %}
