{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <form class="mt-4" method="post" style="width: 80%">
                <h1 class="mt-5">Register</h1>
                <p class="lead mb-5">Create an account to start sharing your favorite movies with the community!</p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {{ form.hidden_tag() }}
                <div class="form-group mt-2">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", size=32) }}
                    {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group mt-2">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", size=32) }}
                    {% for error in form.password.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group mt-2">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control", size=32) }}
                    {% for error in form.confirm_password.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group mt-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
                <div class="mt-4">
                    <a class="modern-link" href="{{ url_for('master.login') }}">Already have an account? Login here.</a>
                </div>
            </form>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div id="emoji-container" class="emoji-container">
                <div id="animated-text" class="animated-div mb-5">
                    <p id="text" class="mb-5"></p>
                </div></div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="/static/js/login.js"></script>
{% endblock %}